<% include header.ejs %>
    <div class="container" style="margin-bottom: 15px;">
      <div class="card">
        <ul class="list-group list-group-flush">
        <% articles.forEach(item => { %>
          <form action="/admin/<%= item.id %>" method="POST">
            <li class="list-group-item"><%= item.title %> <small><%= item.date %></small> <button type="submit" class="btn btn-danger">삭제</button></li>
          </form>
        <% }) %>
        </ul>
      </div>
    </div><!-- /.container -->
    <div class="container">
      <a href="write" class="btn btn-primary">새 글 작성</a>
    </div>
<% include footer.ejs %>
